body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.header{
    background-color: #adc178;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 200px;
    border-bottom: solid;
    border-bottom-color: #000000;
}

.logo{
    font-size: 24px;
    font-weight: 700;
    color: black;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

a {
    text-decoration: none;
    
}

.headlinks{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}